<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cmput301w16t08.scaling_pancake">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Controller"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyTheme">
        <activity
            android:name="Activites.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="Activites.InstrumentListActivity"
            android:label="@string/title_activity_instrumentlist"
            android:theme="@style/MyTheme" >
            </activity>
        <activity
            android:name="Activites.ViewProfileActivity"
            android:label="@string/title_activity_view_profile"
            android:theme="@style/MyTheme" />
        <activity
            android:name="Activites.EditProfileActivity"
            android:label="@string/title_activity_edit_profile"
            android:theme="@style/MyTheme" />
        <activity
            android:name="Activites.CreateProfileActivity"
            android:label="@string/title_activity_create_profile"
            android:theme="@style/MyTheme" />
        <activity
            android:name="Activites.MenuActivity"
            android:label="@string/title_activity_menu"
            android:theme="@style/MyTheme" />
        <activity
            android:name="Activites.AddInstrumentActivity"
            android:label="@string/title_activity_add_instrument"
            android:theme="@style/MyTheme" />
        <activity
            android:name="Activites.SearchInstrumentsActivity"
            android:label="@string/title_activity_search_instruments"
            android:parentActivityName="Activites.MenuActivity"
            android:theme="@style/MyTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="Activites.MenuActivity" />
        </activity>
        <activity
            android:name="Activites.DisplaySearchResultsActivity"
            android:label="@string/title_activity_display_search_results"
            android:parentActivityName="Activites.SearchInstrumentsActivity"
            android:theme="@style/MyTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="Activites.SearchInstrumentsActivity" />
        </activity>
    </application>

</manifest>
